.loginBg {
  background-image: url(./assets/images/login-bg.png);
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.loginFloatSection {
  background: linear-gradient(
    -90deg,
    #1048b7 50.5%,
    rgba(13, 58, 147, 0.785714) 68.5%,
    rgba(10, 45, 115, 0.6) 87.5%,
    rgba(7, 32, 81, 0.4) 100%
  );
  position: absolute;
  top: 20%;
  left: -4%;
  border-bottom-right-radius: 90px;
}
